{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="card my-5">
    <div class="row justify-content-evenly align-items-center g-2 m-5">
      <div class="col-lg-3 text-center">
        <img src="{% static 'img/user.png' %}"
          style="height: 250px; width: 250px; border: solid gray 2px; border-radius: 50%;"">
            </div>
            <div class=" col-lg-6 text-center">
        <div class="card-body">
          <h4 class="card-title mb-4">Sign into your account</h4>
          <form method="POST" class="row g-3">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Login">
          </form>
          <p class="card-text"><small class="text-muted">Don't have an account?</small>
            <a href="{% url 'account:register' %}">Register here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}